[submodule "qtbase"]
	path = qtbase
	url = ../qtbase.git
	branch = 5.5
	initrepo = true
[submodule "qtsvg"]
	path = qtsvg
	url = https://github.com/qtproject/qtsvg.git
	branch = 5.5
	initrepo = true
[submodule "qtdeclarative"]
	path = qtdeclarative
	url = ../qtdeclarative.git
	branch = 5.5
	initrepo = true
[submodule "qtactiveqt"]
	path = qtactiveqt
	url = https://github.com/qtproject/qtactiveqt.git
	branch = 5.5
	initrepo = true
[submodule "qtscript"]
	path = qtscript
	url = https://github.com/qtproject/qtscript.git
	branch = 5.5
	initrepo = true
[submodule "qtmultimedia"]
	path = qtmultimedia
	url = https://github.com/qtproject/qtmultimedia.git
	branch = 5.5
	initrepo = true
[submodule "qttools"]
	path = qttools
	url = https://github.com/qtproject/qttools.git
	branch = 5.5
	initrepo = true
[submodule "qtxmlpatterns"]
	path = qtxmlpatterns
	url = https://github.com/qtproject/qtxmlpatterns.git
	branch = 5.5
	initrepo = true
[submodule "qttranslations"]
	path = qttranslations
	url = https://github.com/qtproject/qttranslations.git
	branch = 5.5
	initrepo = true
[submodule "qtdoc"]
	path = qtdoc
	url = https://github.com/qtproject/qtdoc.git
	branch = 5.5
	initrepo = true
[submodule "qtrepotools"]
	path = qtrepotools
	url = https://github.com/qtproject/qtrepotools.git
	branch = master
	initrepo = true
[submodule "qtwebkit"]
	path = qtwebkit
	url = https://github.com/qtproject/qtwebkit.git
	branch = 5.5
	initrepo = true
[submodule "qtwebkit-examples"]
	path = qtwebkit-examples
	url = https://github.com/qtproject/qtwebkit-examples.git
	branch = 5.5
	initrepo = true
[submodule "qtqa"]
	path = qtqa
	url = https://github.com/qtproject/qtqa.git
	branch = master
	initrepo = true
[submodule "qtlocation"]
	path = qtlocation
	url = https://github.com/qtproject/qtlocation.git
	branch = 5.5
	initrepo = true
[submodule "qtsensors"]
	path = qtsensors
	url = https://github.com/qtproject/qtsensors.git
	branch = 5.5
	initrepo = true
[submodule "qtsystems"]
	path = qtsystems
	url = https://github.com/qtproject/qtsystems.git
	branch = dev
[submodule "qtfeedback"]
	path = qtfeedback
	url = https://github.com/qtproject/qtfeedback.git
	branch = master
[submodule "qtdocgallery"]
	path = qtdocgallery
	url = https://github.com/qtproject/qtdocgallery.git
	branch = master
[submodule "qtpim"]
	path = qtpim
	url = https://github.com/qtproject/qtpim.git
	branch = dev
[submodule "qtconnectivity"]
	path = qtconnectivity
	url = https://github.com/qtproject/qtconnectivity.git
	branch = 5.5
	initrepo = true
[submodule "qtwayland"]
	path = qtwayland
	url = https://github.com/qtproject/qtwayland.git
	branch = 5.5
	initrepo = true
[submodule "qt3d"]
	path = qt3d
	url = ../qt3d.git
	branch = 5.5
	initrepo = true
[submodule "qtimageformats"]
	path = qtimageformats
	url = https://github.com/qtproject/qtimageformats.git
	branch = 5.5
	initrepo = true
[submodule "qtquick1"]
	path = qtquick1
	url = https://github.com/qtproject/qtquick1.git
	branch = 5.5
	initrepo = true
[submodule "qtgraphicaleffects"]
	path = qtgraphicaleffects
	url = https://github.com/qtproject/qtgraphicaleffects.git
	branch = 5.5
	initrepo = true
[submodule "qtquickcontrols"]
	path = qtquickcontrols
	url = https://github.com/qtproject/qtquickcontrols.git
	branch = 5.5
	initrepo = true
[submodule "qtserialport"]
	path = qtserialport
	url = https://github.com/qtproject/qtserialport.git
	branch = 5.5
	initrepo = true
[submodule "qtx11extras"]
	path = qtx11extras
	url = https://github.com/qtproject/qtx11extras.git
	branch = 5.5
	initrepo = true
[submodule "qtmacextras"]
	path = qtmacextras
	url = https://github.com/qtproject/qtmacextras.git
	branch = 5.5
	initrepo = true
[submodule "qtwinextras"]
	path = qtwinextras
	url = https://github.com/qtproject/qtwinextras.git
	branch = 5.5
	initrepo = true
[submodule "qtandroidextras"]
	path = qtandroidextras
	url = https://github.com/qtproject/qtandroidextras.git
	branch = 5.5
	initrepo = true
[submodule "qtenginio"]
	path = qtenginio
	url = https://github.com/qtproject/qtenginio.git
	branch = 1.2
	initrepo = true
[submodule "qtwebsockets"]
	path = qtwebsockets
	url = https://github.com/qtproject/qtwebsockets.git
	branch = 5.5
	initrepo = true
[submodule "qtwebchannel"]
	path = qtwebchannel
	url = https://github.com/qtproject/qtwebchannel.git
	branch = 5.5
	initrepo = true
[submodule "qtwebengine"]
	path = qtwebengine
	url = https://github.com/qtproject/qtwebengine.git
	branch = 5.5
	initrepo = true
[submodule "qtcanvas3d"]
	path = qtcanvas3d
	url = https://github.com/qtproject/qtcanvas3d.git
	branch = 5.5
	initrepo = true
